<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<ol class="breadcrumb">
    <li >首页</li>
    <li style="color:#337ab7">商品查看</li>
</ol>
<div id='table' class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品所属分类</th>
                <th>商品名称</th>
                <th>商品缩略图</th>
                <th>市场价格</th>
                <th>零售价格</th>
                <th>库存</th>
                <th>商品轮播图</th>
                <th>商品详情</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <?php
            foreach($result as $key=>$values){
            ?>

            <tr id="<?php echo $values['gid']; ?>">

                <!--<select name="cid" id="">-->
                    <!--<option value="<?php echo $value['cid'] ?>"><?php echo $value['cname']?></option></select>-->
                <td><?php echo $values['cname']; ?></td>
                <td><?php echo $values['name']; ?></td>
                <td><img src="<?php echo $values['thumb']; ?>" alt="失败" width="50px"></td>
                <!--<td><input name="thumb" autocomplete="off" data-value="<?php echo $values['thumb']; ?>" value="<?php echo $values['thumb']; ?>"></td>-->
                <td><?php echo $values['mprice']; ?></td>
                <td><?php echo $values['sale']; ?></td>
                <td><?php echo $values['stock']; ?></td>
                <td>
                <?php $arr=$values['banner'];
               $str=explode(",",$arr);
               foreach($str as $value){
               ?>
                <img src="<?php echo $value; ?>" alt="" width="50px">
                <?php }?>
                </td>
                <!--<td><input name="banner" autocomplete="off" data-value="<?php echo $values['banner']; ?>" value="<?php echo $values['banner']; ?>"></td>-->
                <td><?php echo $values['detail']; ?></td>
                <!--<td><input name="detail" autocomplete="off" data-value="<?php echo $values['detail']; ?>" value="<?php echo $values['detail']; ?>"></td>-->
                <td><a class="btn btn-warning" href="goodsupdate.php?gid=<?php echo $values['gid'];?>">编辑</a>
                <button class="btn btn-danger">删除</button></td>
            </tr>


            <?php
            }
            ?>

            </tbody>

        </table>
    </div>
</div>
</body>
</html>
<script src="../../../公共js/jquery-3.4.1.min.js"></script>
<script>
    $('tbody').on('click','.btn-danger',function (e) {
        e.preventDefault();
        // $id=$(this).closest('tr').attr('id');
        $id=this.closest('tr').id;
        $.ajax({
            type:'POST',
            url:'goodsdelete.php',
            dataType:'json',
            data:{$id},
            context:this,
            success:function (res) {
                if(res.code===200){
                    console.log(res.msg);
                    $('#'+$id).remove();
                }else{
                    console.log(res.msg)
                }
            }
        })
    })
</script>