<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<ol class="breadcrumb">
    <li >首页</li>
    <li style="color:#337ab7">新闻编辑</li>
</ol>
<form>
    <div class="form-group">
        <label for="exampleInputEmail6">新闻标题</label>
        <input name="wname" type="text" class="form-control" id="exampleInputEmail6" placeholder="新闻标题" value="<?php echo $result['wname']; ?>">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">新闻作者</label>
        <input name="wwhiter" type="text" class="form-control" id="exampleInputEmail1" placeholder="新闻作者" value="<?php echo $result['wwhiter']; ?>">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword5">新闻内容</label>
        <textarea name='wcontent' class="form-control" id="exampleInputPassword5" placeholder="新闻内容" ><?php echo $result['wcontent']; ?></textarea>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="exampleInputEmail7">新闻图片 <span>比例：1*1 最佳尺寸：200*200</span></label>-->
        <!--<input type="file" accept="image/*" class="form-control" id="exampleInputEmail7" placeholder="新闻图片">-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<input type="hidden" name="wpic" id="tin" value="<?php echo $result['wpic']; ?>">-->
        <!--&lt;!&ndash;<label style="visibility: hidden">商品缩略图</label>&ndash;&gt;-->
        <!--<img src="<?php echo $result['wpic']; ?>" alt="" id="imgs" width="200px">-->
    <!--</div>-->
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>
<script src="../../../公共js/jquery-3.4.1.min.js"></script>
<script>
     // change(值改变并且失去焦点)  input  focus blur
    // $("input[type=file]").on('change',function(e){
    //     // console.log(this.files[0]);
    //     let file=this.files[0];
    //     // $('#imgs').attr('src',URL.createObjectURL(file));
    //     // let fileread=new FileReader();
    //     // fileread.readAsDataURL(file);
    //     // fileread.onload=function (ev) {
    //     //     let result=ev.currentTarget.result;
    //     //     $('#imgs').attr('src',result);
    //     // }
    //     // console.log(file);
    //     let formdata=new FormData();
    //     formdata.append('file',file);
    //
    //     let promise = new Promise(function (resolve,reject) {
    //         $.ajax({
    //             type:'POST',
    //             url:'upload.php',
    //             data:formdata,
    //             contentType: false,
    //             processData: false,
    //             dataType: 'json',
    //             context:this,
    //             success:function (res) {
    //                 if(res.code===200){ resolve(res)}else{
    //                     reject(res)
    //                 }
    //
    //                 // $('#imgs').attr('src',res.src);
    //                 // // $('#tin')[0].value=res.src;
    //                 // $('input[name=thumb]').val(res.src);
    //             }
    //         })
    //     });
    //     promise.then(function (res) {
    //         $('#imgs').attr('src',res.src);
    //         // $('#tin')[0].value=res.src;
    //         $('input[name=wpic]').val(res.src);
    //     },function (res) {
    //         console.log(res.msg)
    //     })
    //
    // });

    $('form').on('submit',function (e) {
        e.preventDefault();
        let qs=new FormData(this);
        qs.set('wpic',qs.get('wpic').slice(0,-1));
        $.ajax({
            type:'POST',
            url:'newsinsert.php',
            dataType:'json',
            // data:$(this).serialize(),
            data:qs,
            processData:false,
            contentType:false,
            context:this,
            success:function (res) {
                if(res.code===200){
                    // console.log(res);
                    // console.log($(this).serialize(),);
                    // console.log(res.msg);
                    this.reset();
                    $('#imgs').attr('src',null);
                }else{
                    console.log(res.msg)
                }
            }
        })
    })
</script>
