
    <link rel="stylesheet" href="../static/css/aboutsus.css">




    <?php




?>








    <div class="container">
        <div class="row">
            <!-- banner开始 -->
            <div class="banner-img">
                <img src="../static/img/aboutsus/3.jpg" alt="">
            </div>
            <!-- banner结束 -->
            <!-- 分割线开始 -->
            <div class="aboutus">
                <div class='line'></div>
                <div class="guanyu">
                    <div class="zhongwen"><?php echo $nname;?></div>
                    <div class="yingwen">About Us</div>
                </div>
                <div class="line"></div>
            </div>
            <!-- 分割线结束 -->
            <!-- 详细介绍开始 -->
            <div class="content">
                <div class="content-wenzi col-lg-6">
                    <p class="wenzi">旅行社有限公司是一家经营国际国内旅游业务的专业公司，成立于1999年，业务范围涵盖中国公民的出境旅游、国内旅游和外国人来华的入境旅游。公司注册资本150万元，按《旅游法》规定，足额缴纳了旅游质量保证金，并购买了高额的旅行社责任险。</p>
                    <p class="wenzi">
                        公司自成立以来，始终坚持透明消费、质量第一，追求独特旅游体验，强调负责和安全。透明消费、童叟无欺是我们的承诺。对任何一位游客，我们都会清楚地说明行程中的每一个消费项目，包括已包含的项目和自费项目，并在合同中逐一清楚标注，在旅游过程中严格执行合同，让游客明白选择，放心消费，轻松旅游，完美杜绝了某些同行先以超低价格诱惑游客上钩、然后再用自费项目、高额回扣等非正常手段强掏客人腰包的不法行为。
                    </p>
                    <p class="wenzi">我们坚信：无论您是想体味发达世界的繁华，还是想享受归隐田园的闲适，明择国旅都始终是您最佳的选择！</p>
                </div>
                <div class="img col-lg-6">
                    <img src="../" alt="">
                </div>
            </div>

            <div class="aboutus">
                <div class='line'></div>
                <div class="guanyu">
                    <div class="zhongwen">资深导游</div>
                    <div class="yingwen">Guide</div>
                </div>
                <div class="line"></div>
            </div>
            <!-- 详细介绍结束 -->
            <!-- 导游介绍开始 -->
            <div class="guide">
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
                <div class="guide-detail col-lg-3">
                    <div class="guide-detail-img">
                        <img src="../static/img/aboutsus/photo.jpg" alt="">
                    </div>
                    <div class="guide-detail-name">张三</div>
                    <div class="guide-detail-pos">首席导游</div>
                </div>
            </div>
            <!-- 导游介绍结束 -->
        </div>
    </div>


    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>
</body>

</html>

<script src="../static/js/public.js"></script>