


<link rel="stylesheet" href="../static/css/index.css">

    <!--轮播图制作开始-->
    <div class="banner ">
        <div class="banner_img_box">
            <ul class="banner_img_list">
                <li class="banner_img img_1"></li>
                <li class="banner_img img_2"></li>
            </ul>
        </div>
        <!--轮播图   图片部分    制作结束-->

        <!--轮播图   左右按钮部分    制作开始-->
        <div class="banner_button_box">
            <div class="banner_button button_left ">
                <div class="left_top"><i class="iconfont iconleft"></i></div>
                <div class="left_bottom"><i class="iconfont iconleft"></i></div>
            </div>
            <div class="banner_button button_right">
                <div class="right_top"><i class="iconfont iconzuoyoujiantou1"></i></div>
                <div class="right_bottom"><i class="iconfont iconzuoyoujiantou1"></i></div>
            </div>
        </div>
        <!--轮播图   左右按钮部分    制作结束-->

        <!--轮播图   轮播点部分    制作开始-->
        <div class="banner_dot_box">

        </div>
    </div>
    <!--轮播图制作结束-->
    <!--网页内容部分  制作开始   -->
    <div class="container">
        <div class="content_box">
            <div class="content">
                <div class="row">
                    <div class="content_head col-lg-12 col-xs-12 col-md-12">
                        <div class="content_title_box">
                            <div class="content_title_bigtitle">无与伦比，为杰沉伦</div>
                            <div class="content_title_smalltitle">来到这里，心旷神怡。统统飞去的是烦恼；幽幽飘来的是花香，人们怎能心感不满？
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content_main_box ">
                        <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                            <div class="content_main_img animated">
                                <img src="../static/img/index/11.jpg" alt="">
                            </div>
                            <div class="content_main_title"><strong>无与伦比，为杰沉伦</strong></div>
                            <div class="content_main_line">
                                <img src="../static/img/index/line.png" alt=""></div>
                            <div class="content_main_text">花果飘香，神游其中，颓然碧窈，给人以碧绿幽深舒坦的感觉，牡丹，富贵者也，宜乎众矣</div>
                        </div>
                        <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                            <div class="content_main_img animated">
                                <img src="../static/img/index/13.jpg" alt="">
                            </div>
                            <div class="content_main_title"><strong>山水甲天下</strong></div>
                            <div class="content_main_line">
                                <img src="../static/img/index/line.png" alt=""></div>
                            <div class="content_main_text">采一朵，闻一闻，脚下花堆遍地，真个赛天堂；久之，累了，坐于假山石上，休息一阵，真个浑身惬意</div>
                        </div>
                        <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                            <div class="content_main_img animated">
                                <img src="../static/img/index/14.jpg" alt="">
                            </div>
                            <div class="content_main_title"><strong>赏绿色风景</strong></div>
                            <div class="content_main_line">
                                <img src="../static/img/index/line.png" alt=""></div>
                            <div class="content_main_text">光彩夺目的历史文化、瑰丽全姿的民族风情、神秘绝妙的自然景观、珍奇稀有的古迹遗踪</div>
                        </div>
                        <div class="content_main animated col-lg-3 col-xs-12 col-md-3 col-sm-12">
                            <div class="content_main_img animated">
                                <img src="../static/img/index/12.jpg" alt="">
                            </div>
                            <div class="content_main_title"><strong>走进多情山水</strong></div>
                            <div class="content_main_line">
                                <img src="../static/img/index/line.png" alt=""></div>
                            <div class="content_main_text">自钟山远眺，玄武湖五洲烟柳，十里春风，燕雀湖波光墙影，紫霞湖林海明珠，尽收眼底。使人心旷神怡</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content_middle_title_box ">
                        <div class="content_middle_title col-lg-12 col-xs-12 col-md-12 col-sm-12">桂林山水甲天下，玉碧罗青意可参</div>
                        <div class="content_middle_line col-lg-12 col-xs-12 col-md-12 col-sm-12">
                            <img src="../static/img/index/line_2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="companyprofile_box">
                        <div class="companyprofile_left animated col-lg-4  col-xs-12 col-md-4 col-sm-12">
                            <img src="../static/img/index/goods1.jpg" alt="">
                        </div>
                        <div class="companyprofile_right col-lg-8 col-xs-12 col-md-8 col-sm-12">
                            <div class="companyprofile_title_box">
                                <a class="companyprofile_title" href="#">公司简介</a>
                                <a class="companyprofile_more" href="#">MORE+</a>
                            </div>
                            <div class="companyprofile_txt">
                                <div class="txt_top">旅行社有限公司是一家经营国际国内旅游业务的专业公司，成立于1999年，业务范围涵盖中国公民的出境旅游、国内旅游和外国人来华的入境旅游。公司注册资本150万元，按《旅游法》规定，足额缴纳了旅游质量保证金，并购买了高额的旅行社责任险。
                                </div>
                                <div class="txt_kong"></div>
                                <div class="txt_bottom">公司秉承 “尊荣无限 至上体验”的服务理念，为确保品质，我们过去从来没有、将来也不会给任何人任何部门提供业务挂靠。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cosmetology_box">
                        <div class="cosmetology_left col-lg-8 col-xs-12 col-md-8 col-sm-12">
                            <div class="cosmetology_txt_box">
                                <span class="cosmetology_txt_span1">寻杰千百度</span>
                                <span class="cosmetology_txt_span2">MORE+</span>
                            </div>
                            <div class="cosmetology_row">
                                <a href="#"><span class="cosmetology_row_span1">【黄金帝国·迪拜阿布扎比6天】亚特兰蒂斯+七星帆船+沙……</span>
                                    <span class="cosmetology_row_span2">2015-01-20</span></a>
                            </div>
                            <div class="cosmetology_row">
                                <a href=""><span class="cosmetology_row_span1">【迪拜6晚7天乐园嗨玩】畅游迪拜5大主题乐园 和孩子一起……</span>
                                    <span class="cosmetology_row_span2">2015-01-20</span></a>
                            </div>
                            <div class="cosmetology_row">
                                <a href=""><span class="cosmetology_row_span1">【马尔代夫丽莉岛休闲之旅】高性价比的奢华度假</span>
                                    <span class="cosmetology_row_span2">2015-01-20</span></a>
                            </div>
                            <div class="cosmetology_row">
                                <a href=""><span class="cosmetology_row_span1">【恬静浪漫·经典北海道5日】唯美小樽+登别温泉+美景洞爷……</span>
                                    <span class="cosmetology_row_span2">2015-01-20</span></a>
                            </div>
                            <div class="cosmetology_row cosmetology_row_last">
                                <a href=""><span class="cosmetology_row_span1">【乐园畅游·东京大阪亲子5日之旅】东京迪士尼乐园+大阪……</span>
                                    <span class="cosmetology_row_span2">2015-01-20</span></a>
                            </div>
                        </div>
                        <div class="cosmetology_right animated col-lg-4 col-xs-12 col-md-4 col-sm-12">
                            <img src="../static/img/index/goods8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网页内容部分  制作结束   -->


    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>
</body>

</html>
<script src='../static/js/public.js'></script>
<script src="../static/js/index.js"></script>