
    <link rel="stylesheet" href="../static/css/service.css">

    <!-- 头部图片开始 -->
    <div class="container">
        <div class="banner-box col-lg-12 col-md-12 col-xs-12">
            <a href="" class="photo">
                <img src="../static/img/service/1.jpeg" alt="">
            </a>
        </div>
    </div>
    <!-- 头部图片结束 -->
    <!-- 中间文字部分开始 -->
    <div class="container">
        <div class="row">
            <div class="title-bigbox ">
                <div class="line-left  col-lg-5 col-md-5  col-xs-4">

                </div>
                <div class="header-title col-lg-2 col-md-2 col-xs-4">
                    <dic class="title-cn">
                        服务项目
                    </dic>
                    <div class="title-en">
                        <span>Service</span>
                    </div>
                </div>
                <div class="line-right col-lg-5 col-md-5  col-xs-4">

                </div>
            </div>
        </div>
    </div>
    <!-- 中间文字部分结束  -->
    <!-- 内容部分开始 -->
    <div class="row">
        <div class="container">
            <div class="content-box">
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="../static/img/service/goods1.jpg" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>签证</strong>
                    </div>
                    <img src="../static/img/service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        Step1：网上提交订单<br> Step2：递交材料
                        <br> Step3：接收、审核材料
                        <br> Step4：送签(面签)
                        <br> Step5：出签、配送
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="../static/img/service/goods16.jpg" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>当地玩乐</strong>
                    </div>
                    <!-- <div class="line-box"> -->
                    <img src="../static/img/service/内容横杠.png" alt="" class="line">
                    <!-- </div> -->
                    <div class="content">
                        多样玩乐<br> 时间自由
                        <br> 随意搭配
                        <br> 舒适体验
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="../static/img/service/goods17.jpg" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>婚纱旅拍</strong>
                    </div>
                    <img src="../static/img/service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        主题游<br> 热门旅拍目的地
                        <br> 海外旅拍优选
                        <br> 定制海外婚礼
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="../static/img/service/goods12.jpg" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>全球购</strong>
                    </div>
                    <img src="../static/img/service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        银联退税<br> 寻优惠
                        <br> 看攻略
                        <br> 严选免税行
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->


    <!-- 箭头--置顶 -->
    <div class="zhiding">ʌ</div>

</body>

</html>
<script src="../static/js/public.js"></script>
<script src="../static/js/service.js"></script>